body {
    padding-top: 0px;
    font-size:15px;
}

 .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 6px;
}

.jumbotron {
    margin-bottom:0;
    padding-bottom:15px;
    padding-top:15px;
}

.heading {
    color: #333;
    font-size: 15px;
    line-height: 1.8;
    padding-left: 5px;
}

table.dataTable tr.dtrg-group.dtrg-level-0 td {
    background: #17175d;
    color: white;
    padding-left: 10px;
}
.table-striped > tbody > tr:nth-of-type(odd){

}
.loader{
    text-align:center;
}



/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    /* Style the buttons inside the tab */
    .tab button {
        background-color: #1b2870;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


.tab button.active {
    background-color: #595c97;
}

.tab {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    background-color: #1b2870;
    color: white;
}

    .tab button:hover {
        background-color: #30428d;
    }

.btn-lg, .btn-group-lg > .btn {
    background: #1b2870;
}
    
    .btn-lg, .btn-group-lg > .btn :active, .btn-lg, .btn-group-lg > .btn :visited, .btn-group-lg > .btn :focus  {
        background: #1b2870!important;
    }
    .btn-group-lg > .btn :hover {
        background: #495494 !important;
        cursor:pointer;
    }

.row.result .Content, .row.result .tab{margin-top:15px;}

.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
    word-break: break-word;
    font-size: 15px;
    font-weight: normal;
    color: #333;
}

body {
    font-weight: 200;
}
.Content {
    font-size: 21px;
    font-weight:200;
}
.dataTables_filter, .dataTables_info {
    display: none;
}
.dvTimingHeader{
    text-align:center;
    margin-top:15px;
}